/* CSS Document */
/*............head...............................*/
html
{
    height:100%;
    background:#fff;
}
* html body {
    height:100%;

}
body{
    background:none;
    font: normal 12px Tahoma, Geneva, sans-serif;
    width:100%;
    height:100%;
    margin:0;
    padding: 0;
}
.contayner{
    width:95%;
    min-width:980px;
    max-width:1050px;
    height:100%;
    margin:0 auto;
    padding: 0;
    position: relative; /* Opera 9.5 */

}
.main{
    width:100%;
    min-height: 100%;
    height:auto;
    position:relative;
    overflow:hidden;
    margin:0 auto -53px auto;
    background: none repeat scroll 0 0 #f0f0f0;
}
#content_border{
    height:auto;
    margin:0;
    position:static;

}

#undermain{
    position:relative;
    width:100%;
    min-height: 400px;
}
.head
{
	overflow:hidden;
	width:100%;
	height:100px;
	margin:0 auto;
    padding:20px 0 5px;
	background: #274B7F;
    position: relative;

}
#footer{
    height: 54px;
    width:100%;
    position:absolute;
    background: #274B7F;
    color:#fff

}
.footer-pusher{
    height:54px;
    clear: both;
}
#main_foot{
    padding:8px 5px;
}
#head_admin{
	height:80px;
	
}
#head_admin_b
{
	clear:both;
}
#head1_admin
{
	height:75px;
	width:83%;
	float:left
}
#logo_admin{
	width:73px;
	height:60px;
	background-image: url(../img/main/logo.png);
	background-repeat:no-repeat;
    margin:10px 0 0 5px;
	float:left;
}
#head2_admin
{
	width:100%;
	height:10px;
	color:#fff;
	padding-top:30px;
	margin-bottom:20px;
}
#head_date
{
	width:200px;
	height:20px;
	text-align:right;
	padding-right:10px;
	float:right
}
/*............table...............................*/
.table{
    margin-bottom:10px;
}
.table > tbody > tr > td.td_nopad{
    padding:0;
}
.table .submenu_prod td:nth-child(-n+1) a{
    color:#fff
}

/*...........product..........*/
.submenu_prod td
{
    background: url(../img/admin/blue_grad.jpg) repeat-x;
    height:30px
}
.submenu_td2 td
{
    background: url(../img/admin/grey_grad_tab.jpg) repeat-x;
    height:30px;
}
/* diff */
fieldset {
    background: none repeat scroll 0 0 #dedddd;
    margin-bottom: 15px;
    padding: 10px;
}
legend a{
    color:#ed2525;
    font-size:0.9em
}
legend{
    margin-bottom: 5px;
}
.page-header {
    border: medium none;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}
.page-header h1 {
    color: #1f6db2;
    display: inline-block;
    line-height: 24px;
    margin: 0 0 20px;
    font-size:1.6em
}
.big_block_img {
    padding: 5px;
    position: relative;
}
.del_div_big {
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.del_div {
    height: 16px;
    width: 16px;
}
.classHidden a{
    color:#D83A61;
}
.del_button:hover{
    cursor: pointer;
}
/*
	==================
	[ NAVPAGE]
	==================
*/
.navpage {
    color: #727272;
    margin: 30px 0 0;
}
.navpage .titleList {
    margin-left: -16px;
}
.navpage li {
    display: inline;
    margin-right: 6px;
    vertical-align: middle;
}
.navpage a:link, .navpage a:visited {
    color: #727272;
    text-decoration: none;
}
.navpage a:hover, .navpage a:focus {
    text-decoration: underline;
}
.navpage .current {
    background: none repeat scroll 0 0 #1E71BA;
    display: inline-block;
    padding: 3px 7px;
}
.navpage .current {
    color: #FFFFFF;
    cursor: default;
    text-decoration: none;
}